.header {

  text-align: center;
  min-height: 600px;
  background-image: url("./foto/sheffield.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  padding: 0;
}
h1{
  font-family: 'Lobster', cursive;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}
h2{
  font-family: 'Play', sans-serif;
}
p{
  font-family: 'Play', sans-serif;
}

.contacts{
  text-align: left;
  background-color: black;
  color: white;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}
.resize {
  width: 300px;
  margin-top: 50px;
  margin-bottom: auto;
  border-radius: 50%;
}

.col-sm-4{
  text-align: center;
}

img {
  text-align: center;
}

a {
  color: black;
  font-size: 15pt;
}

a:hover{
  text-decoration:underline;
  color: black;

}

.footer{
  background-color: black;
  text-align: center;
}

.footer p{
  color: white;
}

.footer small{
  color: white;
}
